* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
}
h1 {
  color: #fff;
}

.titleBar {
  height: 100px;
  width: 100%;
  background-color: rgb(18, 18, 18);
}
.logo {
  background-color: rgb(245, 197, 24);
  margin: 20px;
  color: black;
  font-weight: 900;
}
.navBar a {
  color: rgb(224, 207, 202);
  margin-right: 20px;
}
.nav-inp {
  height: 20px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
}

.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.movie-card {
  background-color: rgb(69, 69, 69);
  width: 300px;
  padding: 10px;
  border: 1px solid #1f1f1f;
  box-shadow: 0 0 10px #fff;
  transition: transform 0.2s;
}

.movie-card img {
  width: 278px;
  height: 392px;
  box-shadow: 0 0 2px #808080;
}
.movie-card h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}
.movie-card p {
  color: white;
}
.img {
  margin-right: 20px;
}
.img img {
  width: 170px;
  height: 85px;
  margin-top: 10px;
}
.details {
  width: 60%;
  background-color: #808080;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 5px 5px 8px #585858;
}
.account {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  position: relative;
}
.big-card {
  display: flex;
  justify-content: center;
  margin: 50px;
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 80%;
  background-color: #585858;
}
.delete {
  display: flex;
  float: right;
  width: 50px;
  height: 50px;
}
.delete button {
  border: none;
  display: flex;
  margin: 0;
  background-color: #585858;
  align-items: center;
  justify-content: center;
}
.delete button:focus {
  box-shadow: none;
}
.big-card {
}
.big-card img {
  border: 5px solid white;
  width: 90%;
  height: 450px;
}
.big-card h3,
.big-card h4,
.big-card p {
  color: #fff;
}
.flex {
  margin: 50px;
}
.content {
  display: flex;
  justify-content: space-around;
}
